<div>
    <div class="modal-header">
        <h4>{{ modalErrorCtrl.modalOptions.title }}</h4>
    </div>
    <div class="modal-body">
        <div data-ng-repeat="logMessage in modalErrorCtrl.modalOptions.logMessages">
            <p>{{logMessage}}</p>
        </div>
        <div ng-hide="modalErrorCtrl.modalOptions.reason === undefined">
            <div>
                <a class="btn btn-primary" ng-click="modalErrorCtrl.detailsCollapsed = !modalErrorCtrl.detailsCollapsed">{{modalErrorCtrl.modalOptions.detail}}</a>
            </div>
            <div uib-collapse="modalErrorCtrl.detailsCollapsed" style="margin-top: 5px;">
                <pre data-ng-hide="modalErrorCtrl.isObject(modalErrorCtrl.modalOptions.reason)">{{modalErrorCtrl.modalOptions.reason}}</pre>
                <pre data-ng-show="modalErrorCtrl.isObject(modalErrorCtrl.modalOptions.reason)">{{modalErrorCtrl.formatObject(modalErrorCtrl.modalOptions.reason)}}</pre>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="modalErrorCtrl.close()">
            {{modalErrorCtrl.modalOptions.close}}
        </button>
    </div>
</div>