<div>
    <div class="modal-header">
        <h3 class="modal-title">{{modalErrorInstanceCtrl.modalOptions.title}}</h3>
    </div>
    <div class="modal-body">
        <div data-ng-repeat="logMessage in modalErrorInstanceCtrl.modalOptions.logMessages">
            <p data-ng-hide="modalErrorInstanceCtrl.utils.isObject(logMessage)">{{logMessage}}</p>
            <pre data-ng-show="modalErrorInstanceCtrl.utils.isObject(logMessage)">{{modalErrorInstanceCtrl.utils.formatObject(logMessage)}}</pre>
        </div>
        <accordion>
            <accordion-group heading="{{modalErrorInstanceCtrl.modalOptions.detail}}" is-open="false">
                <p data-ng-hide="modalErrorInstanceCtrl.utils.isObject(modalErrorInstanceCtrl.modalOptions.reason)">{{modalErrorInstanceCtrl.utils.modalOptions.reason}}</p>
                <pre data-ng-show="modalErrorInstanceCtrl.utils.isObject(modalErrorInstanceCtrl.modalOptions.reason)">{{modalErrorInstanceCtrl.utils.formatObject(modalErrorInstanceCtrl.modalOptions.reason)}}</pre>
            </accordion-group>
        </accordion>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="modalErrorInstanceCtrl.close()">{{modalErrorInstanceCtrl.modalOptions.close}}</button>
    </div>
</div>
